<div class="container">
  <div class="row">
    {{>left-sidebar}}

    <div class="col-6 " id="top-tweet-box">
      <div class="border-end border-start">
        <div class="d-flex align-items-center border-bottom">
          <div class="p-4">
            <img src="/images/basic/back.svg" width="20px" />
          </div>
          <h4 class="mb-0">推文</h4>
        </div>
        <div class="p-3 border-bottom">
          <div class="d-flex align-items-center">
            {{!-- <img src="{{tweet.avatar}}" alt="{{tweet.name}}" /> --}}
            <img src="/images/icon/User Photo.png" width="50px" />
            <div style="margin-left: 8px;">
              <p style="font-size: 16px; line-height: 26px;" class="mb-0">tweet.name{{tweet.name}}</p>
              <p style="font-weight: 400; font-size: 14px; line-height: 22px;" class="mb-0">@
                tweet.account{{tweet.account}}
              </p>
            </div>
          </div>
          <h4 class="my-2" style="font-weight: 400; line-height: 36px; color: #171725;">{{tweet.description}}
            >>>>tweet.description Some quick example text to
            build on the card title and make up the bulk of the card's content.Some quick example text to
            build on the card title and make up the bulk of the card's content.
            </h1>
            <p class="mb-2" style="font-weight: 500; font-size: 14px; line-height: 22px; color: #6C757D;">
              tweet.createdAt
              {{tweet.createdAt}}
            </p>
            <div class="d-flex border-top border-bottom py-3">
              <p style="font-size: 19px; line-height: 23px; margin-right: 24px;" class="mb-0">
                <span style="font-weight: 700; color: #171725;">34{{tweet.reply}}</span>
                <span style="color: #6C757D;">回覆</span>
              </p>
              <p style="font-size: 19px; line-height: 23px;" class="mb-0">
                <span style="font-weight: 700; color: #171725;">88{{tweet.like}}</span>
                <span style="color: #6C757D;">喜歡次數</span>
              </p>
            </div>
            <div class="d-flex pt-3">
              <img src="/images/basic/white/reply.svg" width="25px" style="margin-right: 20%" />
              <img src="/images/basic/white/like.svg" width="25px" />
            </div>
        </div>
        <div style="height: calc(100vh - 372px); max-height: calc(100vh - 372px); overflow-y: auto">
          {{!-- reply card --}}
          <div class="d-flex px-4 py-3 border-bottom">
            <div>
              <img src="/images/icon/User Photo.png" width="50px" />
              {{!-- <img src="{{tweet.replierAvatar}}" alt="{{tweet.replierName}}" /> --}}
            </div>
            <div style="margin-left: 8px">
              <div class="d-flex">
                <p class="mb-0" style="line-height: 26px;">
                  <span
                    style="font-weight: 700; font-size: 16px; color: #171725;">tweet.replierName{{tweet.replierName}}</span>
                  <span
                    style="font-weight: 400; font-size: 14px; color: #6C757D;">tweet.replierAccount{{tweet.replierAccount}}・tweet.replierCreatedAt{{tweet.replierCreatedAt}}</span>
                </p>
              </div>
              <p style="font-size: 14px; line-height: 22px;" class="mb-2">
                <span style="color: #6C757D;">回覆 </span>
                <span style="color: #FF6600;">@ tweet.account{{tweet.account}}</span>
              </p>
              <p style="font-weight: 400; font-size: 16px; line-height: 26px;" class="mb-0">
                build on the card title and make up the bulk of the card's content.Some quick example text to
                build on the card title and make up the bulk of the card's content.
                {{tweet.replierComment}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>right-sidebar}}

  </div>
</div>