<p>
  {{user.avatar}}
  {{user.name}}
  {{user.avvount}}
  {{user.introduction}}
  {{user.following}}個跟隨中
  {{user.follower}}位追隨者

  {{user.tweet.description}}
  {{user.reply.comment}}
  {{user.like}}
</p>
